* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.row {
  margin-bottom: 0px;
}

.btn,  .btn-medium, .btn-floating, .remove-btn {
  margin-top:'10px';
  font-family:'Alagard';
  background-color: #333;
}

button {
  color: white;
  padding : 10px;
  margin : 10px;
  background: '#333';
  font-family: 'Alagard';
  box-shadow: '0 5px #999';
}

form {
  width: 90%;
  min-width: 300px;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 4px;
  background: white;
  position: relative;
}

form input {
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #3e64ff;
  margin: 20px 0;
  color: #999999;
  padding: 10px 0;
  color: #212121;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Alagard';
}

textarea {
  border: 1px solid #46aef7;
  font-size: 15px;
  font-weight: normal;
  width: 100%;
  font-family: 'Alagard';
}

.relative {
  position: relative;
}

.util {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: 'Alagard';
  src: url('/fonts/Alagard.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  font-family: 'Alagard';
}

.resume {
  background: rgb(250, 250, 250);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  background: rgb(27, 27, 27);
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding: 20px 30px;
  color: white;
  width: 21cm;
}

ul,
ol {
  list-style-type: none;
}

header h1 {
  font-size: 32px;
  font-weight: normal;
  font-family: 'Alagard';
}

header h1,
p {
  margin-bottom: 10px;
}

header p {
  font-size: 13px;
  color: white;
}

main .exp,
.education {
  margin-top: 20px;
}

main h2 {
  font-size: 15px;
  margin-bottom: 10px;
  color: white;
  line-height: 30px;
  font-weight: bold;
}
main p {
  font-size: 14px;
}

.email,
.number {
  margin: 0;
}

.company-name,
.college-name {
  color: #ff3333;
  font-weight: bold;
}

.border {
  background: linear-gradient(to right, #ccc 2%, white 25%);
  height: 10px;
  width: 100%;
  margin-top: -10px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.dates {
  color: #999999;
  font-size: 13px;
}

.dates span {
  color: #999999;
  display: inline-block;
  padding: 0 10px;
}

.description {
  font-weight: normal;
  font-size: 13px;
  width: 95%;
  margin: 10px auto;
}

.description ul {
  list-style-type: circle;
}

.description li {
  padding: 5px 0;
  color: white;
}

input[type='submit'] {
  border: 0;
  background: lightseagreen;
  color: white;
  font-weight: bold;
  width: 40%;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.project-des {
  color: white;
  font-weight: normal;
  font-size: 13px;
}

.card-panel {
  color:white;
  padding: 8px;
  background-color: #333;
  font-family: 'Alagard';
  

}

.back {
  position: absolute;
  top: 140px;
  right: 15px;
}

.download {
  position: absolute;
  top: 200px;
  right: 15px;
}

.complete {
  position: absolute;
  top: 260px;
  right: 15px;
}

.cpsummary {
  font-family: 'Alagard';
  font-size: small;

}

header {
  margin: 30px 30px;
  padding-bottom: 30px;
  padding: 30px;
  border-bottom: 0.5px solid gray;

}

.corecp{
  display: flex;

}

h4 {
  line-height: 1;
}

.datecp {
  margin-bottom: 20px;

}

.leftcp {
  margin: 30px;
  max-width: 30%;

}

.rightcp {
  margin: 30px;
  padding-left: 40px;
  line-height: 2;
  border-left: 0.5px solid gray;

}

.receivercp {
  margin-top: 60px;

}

.sendercp {
  margin-top: 60px;

}

.linecp {
  line-height: 0.5;

}


.logContainer {
    width:80%;
    margin:0 auto;
    padding-top:50px;
    font-family: 'Alagard';

}

.logContainer h2 {
    font-weight: 300;
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    font-family: 'Alagard';
}

.logContainer p {
    margin-top: 20px;
    color: darkslategray;
    font-family: 'Alagard';
}

.logContainer input {
    font-size: 17px;
    width: 100%;
    margin-top: 10px;
    padding: 12px 10px;
    box-sizing: border-box;
    font-weight: 300;
    font-family: 'Alagard';
}




.logContainer textarea {
    font-size: 17px;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 12px 10px;
    box-sizing: border-box;
    font-weight: 300;
    font-family: 'Alagard';
}

.home-hidden {
  display: none;

}

.print {
  font-size: 17px;
  font-weight: 300;
  color:white;
}




