* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

form {
  width: 90%;
  min-width: 300px;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 4px;
  background: white;
  position: relative;
}

form input {
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #3e64ff;
  margin: 20px 0;
  color: #999999;
  padding: 10px 0;
  color: #212121;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Alagard';
}

textarea {
  border: 1px solid #46aef7;
  font-size: 15px;
  font-weight: normal;
  width: 100%;
  font-family: 'Alagard';
}

button {
  outline: 0;
  padding: 10px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  border: 0;
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  background: lightskyblue;
  margin-right: 4px;
  font-size: 13px;
  border-radius: 5px;
  opacity: 0.7;
}
button:hover {
  opacity: 1;
}

.relative {
  position: relative;
}

.util {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: 'Alagard';
  src: url('/fonts/Alagard.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h3, h4, h6 {
  font-family: 'Alagard';
}

.remove-btn {
  font-family: 'Alagard';
  background-color: red;
  color: white;
  font-weight: bold;
  border: 0;
  margin: 0;
}

.resume {
  background: rgb(250, 250, 250);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  background: rgb(235, 241, 241);
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding: 20px 30px;

  width: 21cm;
  height: 29.7cm;
}

ul, ol {
  list-style-type: none;
}

header h1 {
  font-size: 32px;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1, p {
  margin-bottom: 10px;
}

header p {
  font-size: 13px;
  color: darkslategray;
}

main .exp, .education {
  margin-top: 20px;
}

main h2 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #212121;
  line-height: 30px;
  font-weight: bold;
}
main p {
  font-size: 14px;
}

.email, .number {
  margin: 0;
}

.company-name, .college-name {
  color: #0d47a1;
  font-weight: bold;
}

.border {
  background: linear-gradient(to right, #ccc 2%, white 25%);
  height: 10px;
  width: 100%;
  margin-top: -10px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.dates {
  color: darkslategray;
  font-size: 13px;
}

.dates span {
  color: #999999;
  display: inline-block;
  padding: 0 10px;
}

.description {
  font-weight: normal;
  font-size: 13px;
  width: 95%;
  margin: 10px auto;
}

.description ul {
  list-style-type: circle;
}

.description li {
  padding: 5px 0;
  color: darkslategray;
}

input[type='submit'] {
  border: 0;
  background: lightseagreen;
  color: white;
  font-weight: bold;
  width: 40%;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.project-des {
  color: darkslategray;
  font-weight: normal;
  font-size: 13px;
}

.card-panel{
  padding: 8px;
}

.btn{
  margin-top: 20px;
  margin: 5px;
}

.back {
  position: absolute;
  top: 140px;
  right: 15px;
}

.download {
  position: absolute;
  top: 200px;
  right: 15px;
}
