/* LEFT COLUMN  */

#userImage{
    max-width: 150px;
    max-height: 150px;
    margin-top:50px;
}

.card-panel{
    font-family: 'Alagard';
    font-size: xx-large;
    color: darkblue;
    margin-right: 20px;
    margin-left:20px;

}


/* RIGHT COLUMN  */

/* .btn-large{
        min-width: 150px;
        background-color: #9C7B54; 
        border-radius: 25%;
        margin:10px;
        font-family: 'Alagard';
        box-shadow: 0 8px #999;

} */

.btn-large:hover{
    background-color: darkblue;
}