.progress-bar {
  height: 50px;
  max-width: auto;
  border: 9px groove rgb(92, 27, 27);
  position:relative;
  margin:10px;
}

.filler {
  background: red;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
}

